<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%style{[%d{yyyy-MM-dd HH:mm:ss:SSS}]}{cyan}%highlight{[%-5p]}{FATAL=bg_red,
            ERROR=red, INFO=green, DEBUG=cyan}[${sys:PID}] %style{%mdc{traceId}}{Red}|%style{%mdc{spanId}}{blue}|
            [%50c{1.}] %style{[%t]}{yellow} - %m%n%wEx
        </Property>
    </Properties>

    <!-- console -->
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="jdbc" level="OFF"/>
        <Logger name="jdbc.sqlonly" level="OFF"/>
        <Logger name="jdbc.audit" level="OFF"/>
        <Logger name="jdbc.resultset" level="OFF"/>
        <Logger name="jdbc.connection" level="OFF"/>
        <logger name="org.springframework.web.filter" level="DEBUG"/>
        <logger name="org.springframework.web.client.RestTemplate" level="DEBUG"/>
        <Logger name="co.kr" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <RegexFilter regex="(?s).*insert into inbound_api.*" onMatch="DENY"
                         onMismatch="NEUTRAL"
                         useRawMsg="true"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>